input:focus,
button:focus {
  outline: none;
}

body {
  font-family: Helvetica, sans-serif;
}

table {

  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;

}

td {

  width: 50px;
  height: 50px;
  border: 1px solid black;
  font-size: 16px;
  text-align: center;

}

input {
  width: 50px;
  height: 50px;
  font-size: 16px;
  text-align: center;
  border: 0px solid;
}

.correct {
  color: #00FF00;
}

.incorrect {
  color: #FF0000;
}

tr:nth-child(3), tr:nth-child(6) {

  border-bottom: 3px solid black;

}

tr:first-child {

  border-top: 3px solid black;

}

tr:last-child {

  border-bottom: 3px solid black;

}

td:nth-child(3), td:nth-child(6) {

  border-right: 3px solid black;

}

td:first-child {

  border-left: 3px solid black;

}

td:last-child {

  border-right: 3px solid black;

}

h1 {

  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
}

.flex-center {
  display: flex;
  justify-content: center;
 }

.flex-center p,
.flex-center select {
  margin: 20px 7px;
}

.flex-center p {
  font-size: 16px;
}

.flex-center select {
  font-size: 14px;
  width: 115px;
}

.flex-center button {
  font-size: 16px;
  margin: 0 7px;
  max-width: 175px;
  padding: 10px;
  background-color: white;
  box-shadow: none;
  border: 1px solid black;
}

.flex-center button:hover {
  background-color: black;
  color: white;
}

#alert {
  display: none;
  font-size: 16px;
  text-align: center;
  margin: 20px 0;
  padding: 0;
}

